*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white:#fff;
    --whitegray:#e0e0e0;
    --black:#000000;
    --grayblack: rgb(39, 39, 39);
     --indi-white:#fff;
      --lightblack:#212121;
}


body{
    height: 100vh;
    width: 100vw;
    background-color: var(--whitegray);
    overflow-x: hidden;
}
.container{
    display: flex;
    justify-content: center;
  align-items: center; 
   max-width: 100%;
   min-width: 300px;
    padding-top: 30px;
    margin-bottom: 40px;
    
}
/* nav bar */
.nav{
    width: 70%;
 
   align-items: flex-start;
   border-radius: 30px;
    height: 60px;
    background-color: var(--black);
    backdrop-filter: blur(10px);
    display: flex;
align-items: center;
justify-content: space-around;
box-shadow: 8px 8px 16px var(--grayblack), -8px -8px 16px var(--whitegray);
}
.logo {
    font-size: 30px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 12px;
    cursor: pointer;
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
   
}
.menu ul li{
    list-style-type: none;    
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: var(--white);
    text-transform: capitalize;
    position: relative;
 
}
.menu ul li a::after{
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  border-radius: 20px;
  height: 3px;
  width: 100%;
  background-color: var(--white);
  transform: scaleX(0);
  transition: all 0.3s ease;
}
.menu ul li a:hover::after{
    transform: scaleX(1);
}
/* toggle */
.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #394a56;
}

.label-text {
  margin-left: 16px;
}

.toggle {
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 60px;
  background-color: var(--white);
  border-radius: 15px;
  overflow: hidden;
   box-shadow: -2px -2px 8px var(--whitegray),
    2px 2px 8px  #444445,
    4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 4px 0px #ffffff inset;
}
body.darktheme .toggle{
background-color: #212121;
box-shadow: -2px -2px 8px rgb(50, 50, 50),
    2px 2px 8px  rgb(25, 25, 25),
    4px 4px 4px 0px  rgb(25, 25, 25)inset,
    -4px -4px 4px 0px rgb(50, 50, 50) inset;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: #0c0e0f;
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  box-shadow: -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6;
}


.toggle-state:checked ~ .indicator {
  transform: translate3d(25%, 0, 0);
}
.menubtn{
    background-color: white;
    width: 26px;
    padding: 5px;
    border-radius: 10px;
    display: none;
    box-shadow: inset 2px 2px 10px rgb(41, 41, 41) ,inset -2px -2px 10px #e0e0e0;
}
.closebtn{
    display: block;
    background-color: white;
    width: 26px;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    right: 10%;
    display: none;
      box-shadow: inset 2px 2px 10px rgb(41, 41, 41) ,inset -2px -2px 10px #e0e0e0;

}
body.darktheme{
 background-color: var(--lightblack);
 
}
body.darktheme .nav{
    background-color: var(--whitegray);
    color: var(--black);
    box-shadow: 8px 8px 16px var(--whitegray), -8px -8px 16px var(--lightblack);
}
body.darktheme .logo {
    color: var(--black);
}
body.darktheme .menu ul li a {
    color: var(--black);
}
body.darktheme .menu ul li a {
    color: var(--black);
}
body.darktheme .menu ul li a::after{
  background-color: var(--black);
  
}

body.darktheme .indicator{
     background: var(--whitegray);
       box-shadow: -8px -4px 8px 0px rgb(25, 25, 25),
    8px 4px 12px 0px rgb(25, 25, 25);
}

@media (max-width:700px) {
 body{
  overflow-x: hidden;
  
 }
   .logo {
    font-size: 16px;
} 
.nav{
     width: 100%;
}
.menu{
    position: absolute;
   width: 150px;
  padding-inline-start: 0;
  right: -200px;
    top: 0%;   
    background-color: black;
    z-index: 100;
    padding:20px;
    border-radius: 20px;
    transition: all 0.5s linear;
    display: none;
}
body.darktheme .menu{
  background-color: var(--whitegray);
}
.menu ul{
   flex-direction: column;
 padding-top: 50px;
 padding-bottom: 50px;
     
}
.menu ul li{
  display: block;

}
.menu ul li a{
    color: white; 
      
}
.toggle {

  height: 20px;
  width: 40px;
 
}

.menubtn, .closebtn{
    display: inline-block;
}
}
/* nav bar end */


/* menu */

.main{
  overflow-x:hidden;
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  height: 650px;
  position: relative;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px 20px;
  text-align: center;
   border-radius: 50px;
  background: var(--lightblack);
  box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
 overflow-y: auto;
 scrollbar-width:none;
}
body.darktheme .main{
box-shadow: 4px 4px 10px #bebebe,
               -4px -4px 10px #ffffff;
               
 background: #e0e0e0;

}
body.darktheme .todo h3{
  color: black;
}
.todo h3{
  font-size: 42px;
  text-transform: uppercase;
  /* margin-bottom: 30px; */
  color: white;
  
}
.inputsec{
  display: flex;
  gap: 20px;
  justify-content: center;
 flex-wrap: wrap;
  padding: 20px;  
}
.inputsec input{
  flex-grow: 1;
  flex-basis: 70%;
  font-size: 18px;
padding: 10px;
border: none; 
  background: lightgrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  border-radius: 30px; 
}
.inputsec input:focus{
  outline: none;
}
.inputsec p{
  font-size: 18px;
  
text-transform: capitalize;
cursor: pointer;
  flex-basis: 10%; 
   padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #212121;
  border: 1px solid #212121;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #000, -6px -6px 12px #2f2f2f;
   color: white; 
}
.inputsec p:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #000, inset -4px -4px 12px #1f1f1f;
}
body.darktheme .inputsec p{
color: #090909;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
body.darktheme .inputsec p:active{
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
/* task section */
.tasksec{
height: 100%;
}
/* task */
.task{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 10px;
    background-color: #171717;
  border-radius: 25px;
  margin-bottom: 10px;
}
.task p{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  border-radius: 30px; 
  background: lightgray;
  padding: 5px 10px;
 flex-basis: 60%;
  text-transform: capitalize;
  font-size: 26px;
  text-align: start;
color: rgb(16, 16, 16);
outline: none;
margin-right: 10px;
height: 50px;
overflow-x: scroll;
scrollbar-width: none;
}
body.darktheme .task{
  background-color: #e7e6e6;
}
body.darktheme .task p{
  color: black;
}
.task .btn{
flex-basis: 30%;
display: flex;
flex-direction: row;
gap: 10px;
}
.task .btn button{
   flex-direction: row;
   border: none;
   cursor: pointer;
    color: #fff;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #212121;
  border: 1px solid #212121;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #000, -6px -6px 12px #2f2f2f;
   color: white;
   text-transform: capitalize;
}
.btn button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #000, inset -4px -4px 12px #1f1f1f;
}

body.darktheme .btn button{
color: #090909;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
body.darktheme .btn button:active{
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.task textarea{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  border-radius: 30px; 
  background: lightgray;
  padding: 5px 10px;
 flex-basis: 60%;
  text-transform: capitalize;
  font-size: 26px;
  text-align: start;
color: rgb(16, 16, 16);
scrollbar-width:none;
outline: none;
margin-right: 10px;

}

body.darktheme .task textarea{
  color: black;
}
.tasksec .task .btn .save{
  display: none;
}
.task .editlist {
  display: none;
}
.tasksec .wel{
  color: white;
  padding-top: 50px;
  font-size: 40px;
  text-transform: capitalize;
  line-height: 50px;
}
body.darktheme .tasksec .wel{
  color: black;

}
.tasksec  .rocket{
 line-height: 16rem;
  font-size: 150px;
}

@media (max-width:700px) {
  .task p{
   flex-basis: 100%;
}
.task .btn{
flex-basis: 100%;

}
.task .btn button{
  flex-basis: 48%;
  margin: 1%;
}
.task{
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.inputsec input{
  flex-basis: 70%;
}
.inputsec p{
  flex-basis: 30%;
}
.tasksec .wel{
  color: white;
  padding-top: 25px;
  font-size: 38px;
  text-transform: capitalize;
  line-height: 50px;
}
.tasksec  .rocket{
 line-height: 10rem;
  font-size: 120px;
}
.main{
   padding: 20px 20px;

}
.main h3{
  font-size: 30px;
}
.editlist{
  flex-grow: 1;
}
}